In [1]:
x = 'encyclopedia'
print(x[5])

l

In [2]:
print(x[3:7])

yclo

In [3]:
print(x[0:5])

encyc

In [6]:
print(x[2:8:3])

cl

In [11]:
print(len(x))

12

In [13]:
a = x.index('l')
print(a)

5

In [14]:
print(x[4:len(x)])

clopedia

In [30]:
name = 'ankit srivastava'

In [31]:
print(name[-1:])

a

In [32]:
print(name[0:5:3])

ai

In [41]:
print(name[0:15:13])

aa

In [34]:
print(name[::-1])

avatsavirs tikna

In [35]:
print(name[::2])

aktsiatv

In [36]:
print(name[1::2])

ni rvsaa

In [37]:
print(len(name))

16

In [43]:
print(name[::-1][:5][::-1])

stava

In [46]:
print(name[:-1])

ankit srivastav

In [47]:
value = '$581256712-'
print(value[:-1])

$581256712

In [52]:
print(int(value[1:-1]))

581256712

In [53]:
x = chr(2)
print(x)



In [55]:
x = chr(212)
print(x)

√î

In [56]:
x = ord('Z')
print(x)

90

In [57]:
x = ord('*')
print(x)

42

In [58]:
x = ord('üòç')
print(x)

128525

In [59]:
a ='hi'
b ='good'
c ='morning'
x = a + ' ' + b + ' ' + c
print(x)

hi good morning

In [70]:
z = 'BGMI || '
print(z*10)

BGMI || BGMI || BGMI || BGMI || BGMI || BGMI || BGMI || BGMI || BGMI || BGMI ||

In [1]:
x = 'beta'
type(x)

str

In [3]:
print(x.upper())

BETA

In [10]:
print(x.lower())
print(x.casefold()) # Same method of lower()

beta
beta

In [5]:
print(x.capitalize())

Beta

In [8]:
print(x.title())

Beta

In [9]:
print(x.swapcase())

BETA

In [27]:
# String Utility methods
z = 'Valorant    '
z.strip()

'Valorant'

In [23]:
print(len(z))

12

In [29]:
z.count('a')

2

In [30]:
z.count('a') + z.count('V')

3

In [49]:
data = '''Once upon a time . A man lived in England,whose name is Andrew Tate.Peoples known him as a TOP G'''

In [50]:
data.count('t')

2

In [51]:
data.count('a')

7

In [52]:
words = data.split()
print(words,len(words))

['Once', 'upon', 'a', 'time', '.', 'A', 'man', 'lived', 'in', 'England,whose', 'name', 'is', 'Andrew', 'Tate.Peoples', 'known', 'him', 'as', 'a', 'TOP', 'G'] 20

In [53]:
data.split(',')

['Once upon a time . A man lived in England',
 'whose name is Andrew Tate.Peoples known him as a TOP G']

In [54]:
data.splitlines()

['Once upon a time . A man lived in England,whose name is Andrew Tate.Peoples known him as a TOP G']

In [83]:
address_parts =[ ' lekhraj Market ',
                ' Meena Market ',
                ' A-1440/8 ',
                ' Lucknow ',
                ' 226016',
]

In [84]:
print(address_parts)

[' lekhraj Market ', ' Meena Market ', ' A-1440/8 ', ' Lucknow ', ' 226016']

In [85]:
print('\n'.join(address_parts))

 lekhraj Market
 Meena Market
 A-1440/8
 Lucknow
 226016